{{python_readme_header_md}}

That's it. I personally think there are way too many configuration options when
"packaging" software and I want to homogenize my own packages. Thus:
`{{package["name"]}}`.

{{python_readme_dep_graph_md}}
